.ScoreTable{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    width: 80%;
    background-color: white;
    padding: 1em;
    table{
        width: 100%;
        margin: 0 auto;
        min-width: 400px;
    }
  .ScoreTable-section{
      vertical-align: top;
      width: 100%;
  }
}

h2 {
    font-weight: 100;
    font-size: 2em;
    border-bottom: 2px solid purple;
    display: inline-block;
  }

  @media only screen and (max-width: 1024px){
    .ScoreTable{
      width: 90%;
      table{
        min-width: 0%;
      }
    }
  }
